HOMEPAGE_VAR_GLANCES_URL=""
HOMEPAGE_VAR_PIHOLE_URL=""
HOMEPAGE_VAR_TWINGATE_URL=""
HOMEPAGE_VAR_UPTIME_KUMA_URL=""
HOMEPAGE_VAR_NAS_URL=""
HOMEPAGE_VAR_SURVEILLANCE_STATION_URL=""
HOMEPAGE_VAR_OPENWEB_UI_URL=""
HOMEPAGE_VAR_LINEAR_URL=""
HOMEPAGE_VAR_N8N_URL=""
HOMEPAGE_VAR_PLEX_URL=""
HOMEPAGE_VAR_IP=""
HOMEPAGE_ALLOWED_HOSTS=""
HOMEPAGE_VAR_PIHOLE_URL=""
HOMEPAGE_VAR_TWINGATE_URL=""
HOMEPAGE_VAR_GITHUB_URL=""
